body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.contenedor {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: #ADD8E6;
    padding: 20px;
    border: 4px solid #333; /* Bordes notorios */
}

h1{
    margin-bottom: 20px;
}
